<ion-grid style="width: 100%;">
  <form [formGroup]="fatherGroup" (ngSubmit)="submit()">
    <ion-row style="margin-bottom: 50px; width: 100%;" *ngFor="let item of arrays" [attr.aria-describedby]="item.title">
      <ion-row style="width: 100%;">
        <p>{{ item.title }}</p>
      </ion-row>
      <ion-row style="width: 100%;">
        <form [formGroup]="fatherGroup.get(item.formName)" style="width: 100%;">
          <ion-row *ngFor="let row of item.arrayForm">
              <ion-col *ngFor="let controler of row" [class]="controler.class" [size]="controler.colSize">
                <label [attr.for]="controler.id">{{ controler.label }}</label>
                <br />
                <input 
                  formControlName="{{ controler.controlName }}"
                  style="width: 90%;"
                  [attr.id]="controler.id"
                  [placeholder]="controler.placeholder ? controler.placeholder : ''"
                  (keyup)="controler.keyup ? controler.keyup() : null;"
                  (focus)="controler.focus ? controler.focus() : null;"
                  (focusout)="controler.focusout ? controler.focusout() : null;"
                  type="text" />
              </ion-col>
          </ion-row>
        </form>
      </ion-row>
    </ion-row>
    <button aria-label="Submeter formulário" type="submit">Prosseguir</button>
  </form>
</ion-grid>
<!-- <ion-content>
  <div class="ion-padding">
    The world is your oyster.
    <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p>
  </div>
</ion-content> -->
